.main_container{
    height: 200px;
    width: 10px;
    border: 1px solid black;
    position: absolute;
    border-radius: 2px;
    margin-left: 2px;
}

.state_bar{
    position: absolute;
    height: 20px;
    width: 10px;
    background-color: navy;
    border-radius: 2px;
    z-index: 1;
}
/* Programatically select sweet spot "top" property: */
.sweet_spot_bar{
    position: absolute;
    background-color: lightgreen;
    height: 20px;
    width: 10px;
    border-radius: 2px;
}